footer {
    margin-top: 80px;
    margin-bottom: 0px;
    height: 552px;
    background-color: #262626;
    position: relative;
}

.footer__wrapper {
    position: absolute;
    width: 92%;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 56.38px;
    margin-bottom: 40px;
}

.footer__logo {
    width: 192px;
    height: 20px;
    margin-bottom: 40px; 
}

.footer__navigation {
    border: 1.5px solid #626262;
    border-left: none;
    border-right: none;
    padding-top: 32px;
    padding-bottom: 25px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__lang select {
    width: 227px; 
    height: 40px;
    background-color: #3B3B3B;
    border-radius: 2px;
    border-color: transparent;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 33px;
}

.footer__tag {
    width: 75px;
    height: 19px;
    margin-bottom: 22px;
}

.footer__tag a {
    text-decoration: none;
    width: 75px;
    height: 19px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.footer__icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.footer__icons a {
    width: 16.4px;
    height: 16.4px;
    margin-right: 20.16px;
}

.footer__icons svg {
    width: 27px;
    height: 27px;
}

.footer__first-column a, .footer__last-column a {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 23px;
}

.footer__navigation a:hover {
    color: #57AD56;
    transition: 150ms;
}

.footer__stores {
    border: 1.5px solid #626262;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 auto; 
    padding-top: 41.88px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.footer__stores img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-right: 41.22px;
    width: 135px;
    height: 40px;  
}

.footer__terms {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer__terms a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}

.arrow_up {
    position: absolute;
    right: 5px;
    bottom: 5px; 
}

.arrow_up img {
    max-width: 80px;
    max-height: 80px;
    margin-left: 16px;
    margin-bottom: 24px;
    z-index: 1;
    transition: 150ms;
}

